<section class="content">
    <h2><span>Sobre mí</span></h2>
    <p>
        Desarrollador web mexicano especializado en el frontend con conocimientos sobre el backend
        para desarrollar una web-app.
        Si buscas una página personalizada, puedes contactarme y tu página quedará 10/10 con el
        diseño personalizado que buscas.<br/>
        Puedes ver mis trabajos en la opción de PORTAFOLIO.<br/><br/>
        Uso de tecnologias:
    </p>
    <ul>
        <li>- HTML</li>
        <li>- CSS</li>
        <li>- Javascript</li>
        <li>- Responsive Web Design</li>
        <li>- Angular</li>
        <li>- PHP</li>
        <li>- Laravel</li>
        <li>- GIT</li>
    </ul>
</section>