<section class="content">
    <h2>Portafolio</h2>

    <div id="cajas">
        <div class="buttons">
            <a href="https://github.com/ArturoCamacho0">
                <img src="../../assets/images/github.png"/>
                <p>Visita mi GitHub</p>
            </a>
        </div>

        <div class="buttons">
            <a href="https://www.youtube.com/channel/UCdkpzMb0O66yUXUS-htfqYA?view_as=subscriber">
                <img src="../../assets/images/youtube.png"/>
                <p>Visita mi canal</p>
            </a>
        </div>

        <div class="buttons">
            <a href="https://arturoch.art.blog/">
                <img src="../../assets/images/tablero.png"/>
                <p>Visita mi blog</p>
            </a>
        </div>
    </div>

    <h3>Capturas de algunos de mis proyectos:</h3>
    <div id="photos">
        <img class="img" src="../../assets/images/1.png"/>
        <img class="img" src="../../assets/images/2.png"/>
        <img class="img" src="../../assets/images/3.png"/>
        <img class="img" src="../../assets/images/4.png"/>
        <img class="img" src="../../assets/images/5.png"/>
    </div>
</section>