<section class="content">
    <h2>Portafolio</h2>

    <div id="cajas">
        <div class="buttons">
            <a href="#">
                <img src="../../assets/images/github.png"/>
                <p>Visita mi GitHub</p>
            </a>
        </div>

        <div class="buttons">
            <a href="#">
                <img src="../../assets/images/youtube.png"/>
                <p>Visita mi canal</p>
            </a>
        </div>

        <div class="buttons">
            <a href="#">
                <img src="../../assets/images/tablero.png"/>
                <p>Visita mi blog</p>
            </a>
        </div>
    </div>

    <div id="photos">
        <img class="img" src="../../assets/images/1.png"/>
        <img class="img" src="../../assets/images/2.png"/>
        <img class="img" src="../../assets/images/3.png"/>
        <img class="img" src="../../assets/images/4.png"/>
        <img class="img" src="../../assets/images/5.png"/>
    </div>
</section>